@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

h1 {
   font-size: 3.75rem;
   line-height: 1.1;
   font-weight:650;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #fefefe;
}

a:hover {
  color: #673ADF;
}

#app {
  margin: 0 auto ;
  padding: 2rem;
}

.custom-align {
  vertical-align: -0.5px;

}

.background-glow {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  pointer-events: none;
  z-index: -1;
  opacity: 0.8;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.barra-menu {
  position: relative;
  padding-bottom: 35px;
}

.barra-menu::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: #673ADF;
  opacity: 50%;
}

.image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.image-container img {
  width: 60%;
  height: auto;
  position: absolute;
  left: 38%;
}

.overlay-text1 {
  position: absolute;
  top: 0;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #fefefe;
  font-size: 24px;
  padding: 10px;
}

.overlay-text2 {
  position: absolute;
  top: 4.5%;
  left: 55.5%;
  transform: translate(-50%, -50%);
  color: #673ADF;
  font-size: 40px;
  padding: 10px;
}

.text-container {
  max-width: 700px;
  padding-right: 20px;
  margin-top: 60px;
  position: relative;
  z-index:1;
}

@media (max-width: 1200px) {
  nav h2 {
    font-size: 1.5rem;
  }
  .md\:flex {
    display: none !important;
  }
  .md\:hidden {
    display: block !important;
  }
}
